
body, h1, h2, h3, h4, h5, h6, p{
   font-family: 'Roboto', sans-serif !important;
   
}

.container-fluid{
   background-color: #f4f5f7;
}

.nav_top{
   background-color: #e13475;
   margin-bottom: 0px;
   position: relative;
   color: #ffffff;
}
#header{
   background: #ffb347; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, );
   min-height: 120px ;
}
.fb:hover {
   opacity: 0.8;
   color: white;
}

.google:hover {
   opacity: 0.8;
   color: white;
}
.fb {
   background-color: #3B5998;
   color: white;
   width: 300px;
}
#login-bar{
   margin-left: 28px;
} 
.twitter {
   background-color: #55ACEE;
   color: white;
}
#header-login{
   padding: 20px;
   width: 100%;
}
.border_email{
   padding: 0px 280px;
}
.email-pay{
   text-align: center;
}
#email-btn-pay{
   border: 1px solid transparent;
   cursor: pointer;
   color: white;
}
#mark-bar-email{
   text-align: left;
   background: #ffffcc;
}
.notification{
   margin: 12px 5px 0px 0px;
}
.infor_email{
   display: flex;
   padding: 30px 70px;
}
.policy_email {
   display: flex;
   padding: 30px 70px;
   
}
.policy_email .col-4{
   padding-right: 90px;
}
.dear_email{
   padding: 20px 70px;
}
#card-main-email{
   margin: 20px 70px ;
   padding: 20px;
}
.main-email-left{
   width: 400px;
}
.main-email-right{
   width: 400px;
}
.main-email{
   display: flex;
}
.infor_email .My_account{
   width: 300px;
}
.infor_email .email_icon{
   width: 300px;
   text-align: center;
}
.infor_email .email_phone{
   width: 300px;
   text-align: right;
}
#card-login{
   margin-left: 95px;
}
.google {
   background-color: #dd4b39;
   color: white;
   width: 300px;
}
.fa-user-circle{
   padding: 13px;
   border: 1px solid gainsboro;
}
.fa-key{
   padding: 13px;
   border: 1px solid gainsboro;  
}
.form-control{
   /* max-width: 300px; */
}
.login .show-password{
   top: 37% !important;
   right: 43px !important;
}

.bc-line{
   float: none;
   width: auto;
   padding: 8px 0;
   line-height: 0;
}

.bc-line span{
   display: inline-block;
   background: rgb(255, 179, 92);
   width: 5px;
   height: 5px;
   border-radius: 50%;
   margin: 0 5px;
}
.bc-line .bc-danger{
   background: rgb(233, 3, 3);
}
.bg-secondary{
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, #ffcc33);
}
.card_header{
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, #ffcc33);
   height: 60px;
   border-radius: 10px;
   margin-bottom: 20px;
   
}
.top-menu{
   margin-bottom: 0px;
   margin-left: 0px;
}
.nav_top_left p {
   margin-bottom: 0px;
   
}

.nav_top_left a{
   color: white;
   text-decoration: none;
}
.nav_top_right p{
   margin-bottom: 0px;
   
}
/* .nav-link{
   
} */

.text-para p{
   font-size: 16px;
}
.nav_top_right ul{
   display: flex;
   list-style: none;
   float: right;
   padding: 0 !important;
}
.nav_top_right ul li{
   margin-right: 10px;
   text-decoration: none;
   
   
}
.sticky {
   position: fixed;
   top: 0;
   width: 100%;
}

.nav_top_right ul li a {
   text-decoration: none;
   color: white;
   
}

#navbar {
   overflow: hidden;
   transition: 0.4s;
   
   width: 100%;
   z-index: 10;
}

#navbar a {
   margin: 0;
   float: left;
   text-align: center;
   text-decoration: none;
   line-height: 25px;
   border-radius: 4px;
   
}
#navbar #logo {
   font-size: 35px;
   font-weight: bold;
   transition: 0.4s;
}
#navbar-rights {
   float: right;
}
.search-form{
   display: flex;
}
.search
{
   
   overflow: auto;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   width: 530px;
   
   
}

.btn-search{
   border: 1px solid transparent;
   margin: 0;
   background-color: transparent;
   padding: 6px 14px;
   cursor: pointer;
   margin-top: 10px;
   background-color:#e13475; 
   color: white; 
   border-radius: 3px;
}

.input-fixed{
   width: 100% !important; 
}
#form-price{
   display: flex;
}
.search input[type="text"]
{
   border: 0px;
   width: 100%;
   padding: 10px 10px;
   height: 60%;
   margin-top: 10px;
   background-color: #000;
   color: white;
   opacity: 0.6;
   
}

.search input[type="text"]:focus
{
   outline: 0;
   
}


@media (min-width : 1200px) {
   
   .container {
      max-width: inherit;
      width: 1230px;
   }
   
}


/* ===========================
====== Medua Query for Search Box ====== 
=========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
   
   .search
   {
      width: 95%;
      margin: 0 auto;
   }
   
}


@media (max-width : 556px) {
   .input-fixed{
      width: 100% !important;
   }
   .nav_top_right ul{
      float: left;
   }
   
   #range-price{
      width: 150px !important;
   }
   .sticky{
      position: static !important;
   }
   
   
   .card-product img{
      height: 175px !important;
   }
   
   .img-blog img{
      height: 214px !important;
      
   }
}

@media (max-width : 768px) {
   body{
      width: 101%;
   }
  
   .nav_top_right ul li{
      margin-left: 0;
   }
   .dropdown{
      margin-left: 50px;
   }
   
   .comment h4{
      margin-left: 49px !important;
   }
   
   .btn-gradient16{
      width: 40% !important;
   }
   .btn-gradient19{
      width: 40% !important;
   }
   #Step img{
      margin-left: 0px !important;
      max-width: 129% !important;
      height: 90% !important;
   }
   
   #Step h5{
      padding-top: 24px !important;
      padding-left: 28px !important;
   }
   .dropdown-main-content{
      left: -175% !important;
      min-width: 382px !important;
   }
   #btn-cart-user{
      text-align: left !important;
   }
   
   
   .box-img-cursor img{
      height: 140px !important;
   }
   .btn-gradient18{
      padding: 7px 16px !important;
   }
   #warning5 p{
      text-align: left !important;
   }
   .border_email{
      padding: 0px  !important;
      width: 104%;
   }
   #card-login{
      margin: 0;
   }
   
   .dear_email{
      padding: 20px 40px;
   }
   #card-main-email{
      margin: 20px 40px !important; 
   }
   #carousel_post .owl-prev{
      left: 85% !important;
   }
   
   #carousel_post .owl-next{
      right: -5% !important;
   }

   #button{
      right: 31px !important;
      bottom: 95px !important;
   }
   #pills-tab-with-icon{
   white-space: normal !important;
   }
   #pills-contact-tab-icon{
      margin-right: 15px;
   }
}
@media (max-width : 1300px) {

   .navbar-expand-lg .navbar-nav .dropdown-menu{
      
      position: absolute !important;
   }

   .navbar-expand-lg .navbar-nav .dropdown-menu{
      left: -54px !important;
   }
   
   #alert_demo_1{
      width: 156px !important;
      padding: 13px 0px !important;
      font-size: 12px;
   }
   .btn-pay{
      width: 156px !important;
      padding: 13px 0px !important;
      font-size: 12px;
   }
   .edit{
      margin-right: 0px !important;
      text-align: right !important;
   }
   .border_email{
      padding: 0px 142px;
   }
   #card-login{
      margin: 0;
   }
}

@media (max-width : 1300px) {
   
   .box-img{
      width: 97% !important ;
      
   }
   
}


#button {
   display: inline-block;
   background: #0575E6;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 50%;
   position: fixed;
   bottom: 66px;
   right: 3px;
   transition: background-color .3s, 
   opacity .5s, visibility .5s;
   opacity: 0;
   visibility: hidden;
   z-index: 1000;
   cursor: pointer;
}
*{
   margin: 0;
   padding: 0;
}
.rate {
   float: left;
   height: 46px;
   padding: 0 10px;
}
.rate:not(:checked) > input {
   position:absolute;
   display: none;
}
.rate:not(:checked) > label {
   float:right;
   width:1em;
   overflow:hidden;
   white-space:nowrap !important;
   cursor:pointer;
   font-size:25px !important;
   color:#ccc ;
}
.rate:not(:checked) > label:before {
   content: '★ ';
}
.rate > input:checked ~ label {
   color: #ffc700 !important;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
   color: #deb217 !important;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
   color: #c59b08 !important;
}
#change_address a{
text-decoration: none;
color: #000;
}
#button.show {
   opacity: 1;
   visibility: visible;
}

/* Styles for the content section */

.content {
   font-family: 'Merriweather', serif;
   font-size: 17px;
   color: #6c767a;
   line-height: 1.9;
}
@media (min-width: 500px) {
  
   #button {
      margin: 30px;
   }
}
.content h1 {
   margin-bottom: -10px;
   color: #03a9f4;
   line-height: 1.5;
}
.content h3 {
   font-style: italic;
   color: #96a2a7;
}

.product-btn{
   padding: 4px 6px;
   border: 1px solid #e13475;
   border-radius: 50%;
}
.form-check label, .form-group label{
   white-space: normal !important;
}
.side-bar {
   height: 1000px;
   width: 0;
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   background: #ffb347; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, );
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}
#mySidenav a {
   position: fixed;
   z-index: 20;
   left: 0px;
   transition: 0.3s;
   padding: 7px 18px;
   width: 100px;
   font-size: 10px;
   text-decoration: none;
   color: white;
   border-radius: 0 25px 25px 0;
   line-height: 18px;
   
}

#mySidenav a:hover {
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
   background-color: #FD8700;
}
#about {
   position: relative;
   top: 165px;
   background: #ffb347; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, );
}

#support h5{
   margin-bottom: 0px !important;
   padding: 6px;
   height: 31px;
   margin-top: 5px;
}
.btn-mobile-collapse{
   border: 1px solid transparent;
   color: white;
   background-color: #ffb347;
   padding: 0px 36px;
   font-size: 14px;
   cursor: pointer;
   text-align: left;
}

.fixformText{
   background-color: #ffb347;
}

.fixformText a{
   font-size: 14px !important;
   color: white;
}

.dropbtn2 {
   background: #2b96b6; /* fallback for old browsers */
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
   color: white;
   padding: 16px;
   font-size: 12px;
   width: 99px;
   border: none;
   position: fixed;
   z-index: 20;
   top: 236px;
   border-radius: 0 25px 25px 0;
   cursor: pointer;
   transition: 0.3s;
}

.dropdown2 {
   position: relative;
   display: inline-block;
}

.dropdown_content {
   display: none;
   position: fixed;
   top: 287px;
   background-color: white;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   border-radius: 3px;
}

.dropdown_content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown_content a:hover {background-color: #ddd;}

.dropdown2:hover .dropdown_content {display: block;}

.dropdown2:hover .dropbtn2 {background-color: #3e8e41;}

.comment h4{
   margin-left: 70px;
}
.dropdown-cart-content{
   display: none;
   position: absolute;
   background-color: white;
   min-width: 420px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   right: -180%;
   color: black;
   font-size: 15px;
   border-radius: 3px;
}
#hover-cart:hover{
   background-color:rgb(248, 248, 248) ;
}

.dropdown5 {
   float: left;
   overflow: hidden;
 }
 
 .dropdown5 .dropbtn5 {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   background-color: inherit;
   font: inherit;
   margin: 0;
   cursor: pointer;
 }

 .dropdown-content5 {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   width: 15%;
   left: 235px;
   top: 45px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 .column-cate a{
text-decoration: none;
padding: 5px;
color: #000;
border-bottom: 1px solid rgb(236, 236, 236);
width: 100%;
 }

 .column-cate a:hover{
    color: #f08c00;
 }
 .dropdown-content5 .header {
   background: red;
   padding: 16px;
   color: white;
 }
 
 .dropdown5:hover .dropdown-content5 {
   display: block;
 }
#clasify{
   font-size:12px ;
   color: rgb(155, 152, 152);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-cart-content {display: block;}

.dropdown-cart-content a {
   color: black;
   text-decoration: none;
   display: block;
}
.dropdown-main-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 420px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   right: 0%;
   color: black;
   font-size: 15px;
   border-radius: 3px;
}

/* Links inside the dropdown */
.dropdown-main-content a {
   color: black;
   text-decoration: none;
   display: block;
}

* Change color of dropdown links on hover */
.dropdown-main-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-main-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}
.dropbtn {
   border: 1px solid white !important;
   border-radius: 5px;
   color: white;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 30px;
   width: 134px;
   border: none;
   cursor: pointer;
   font-size: 15px;
   background-color:#ffcc33 ;
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, );
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

.side-bar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 20px;
   color: #f1f1f1;
   display: block;
   transition: 0.3s;
}
.side-bar a:hover {
   color: white;
}

.side-bar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
#final-price{
   display: inline-flex;
}
#final-price #p1{
   color: #e13475;
   font-size: 15px;
   margin-right: 15px;
   margin-bottom: 0px;
   width: 136px;
   
}


#final-price #p2{
   text-decoration: line-through;
   color: #000;
   margin-top: 5px;
   margin-bottom: 0px;
}
.infor-checkout p{
   font-size: 12px;;
   margin-bottom: 5px;
}
#main-category{
   margin-right: 30px;
}

#cart-title:hover{
   color: #bd6e00;
   text-decoration: none;
}

#message p{
   color: rgb(177, 177, 177);
   margin: 90px 0px 0px 13px;
   font-size: 12px;
}
/* #pills-profile-tab:hover{
   
} */

#pills-home-tab{
   background-color: #e13475;
   color: #ffffff;
   border: none;
   display: inline-block;
}
#pills-home-tab:hover{
   background-color: gainsboro;
}
#list-profile-list:hover {
   background-color:#ffcc33;
   color: #ffffff;
   width: 240px;
}

.item .card-product{
   background-color: #fefefe;
   border-radius: 5px;
   cursor: pointer;
   border: 1px solid transparent;
}

.card-product:hover {
   border: 1px solid #e13475;
   cursor: pointer;
}

.card-product img{
   height: 210px;
}
.active_header{
   display: flex;
   padding: 12px 20px;
   
}

.title-card {
   height: 40px; 
   width: 100%;
}

.title-card h4{
   color: #000;
}

.title-card a {
   text-decoration: none;
}

.title-card a h4:hover {
   color: #f08c00;
}

.icon-view-details a{
   color: #f08c00;
   
}

#color-text-cost h3{
   color: #e13475;
}

.common-cost{
   width:100%; 
   
}
.common-cost .main-cost{
   color: #e13475;
   font-size: 16px;
   margin-right: 10px;
   margin-bottom: 0px;
   height: 20px;
   
}

.common-cost .main-cost p{
   margin-bottom: 0px;
   
   
}

#line-notice a{
   color: #000 !important;
}
#view-details{
   color: #0353a3;
   
}
#view-details a{
   text-decoration: none;
}

.abondon-text-cost {
   text-decoration: line-through;
   margin-bottom: 0px;
   
   
}
.card-category .card-text{
   margin: 20px 0px 0px 15px;
   
}

* {
   box-sizing: border-box;
}

img {
   vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
   position: relative;
}

/* Hide the images by default */
.mySlides {
   display: none;
   margin-top: 0px;
}
#print-cart p{
   border: 1px solid rgb(172, 169, 169);
   border-radius: 3px;
   padding: 5px 12px;
   color: rgb(172, 169, 169);
}

#print-cart p:hover{
   background-color: rgb(172, 169, 169);
   color: white;
   cursor: pointer;
}

#grey-text-infor{
   color: rgb(172, 169, 169);
}

#follow{
   max-width: 60px;
}
#follow p{
   border: 1px solid black;
   border-radius: 3px;
   margin-bottom: 5px;
   padding: 3px 9px;
   
}
#follow p:hover{
   cursor: pointer;
   background-color: rgb(235, 235, 235);
}
.mySlides .img-thumbnail{
   height: 380px;
   width: 400px;
}

.item .img-fluid{
   
   cursor: pointer;
   
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
   cursor: pointer;
}


.w3-content {
   margin-left: 10px;
   
}
.w3-display-container .img-fluid{
   width: 700px;
   height: 400px;
   
}

.w3-display-left:hover{
   background-color: rgba(0, 0, 0, 0.8);
}

.w3-display-right:hover{
   background-color: rgba(0, 0, 0, 0.8);
}
.w3-display-left,
.w3-display-right{
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
   background-color: white;
   border: rgb(247, 247, 247);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.w3-display-left{
   margin-left: 164px;
}
.w3-display-right{
   margin-left: 107%;;
}

.room-preview img:hover{
   border: 1px solid #e13475;
   opacity: 1;
   
}

.room-preview .img-fluid{
   width: 100px;
   height: 92px;
   
}
.room-preview .room-active{
   border: 1px solid #e13475;
}
.modal-open .modal{
   padding-right: 170px !important;
}

/* Next & previous buttons */
.prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   color: white;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
   background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */


/* Container for image text */

#suceed-text{
   color: #ba222e;
}

#infor-pay-left p{
   margin-bottom: 2px;
   padding: 5px;
   background-color: #fffab4;
   padding-right: 20px;
}

#single-text-pay{
   background-color: #fffab4;
   
}
#pesonal-infor {
   margin-top: 50px;
}
#pesonal-infor p{
   
   margin-left: 10px;
   margin-bottom: 2px;
}
.edit{
   margin-right:40px;
   margin-top: 30px;
   float: right;
}

#single-text-pay p{
   padding-top: 90px;
   padding-right: 20px;
}



#details-order p{
   margin-bottom: 3px;
   
}

#details-order #abondon{
   background-color: rgb(233, 233, 233);
   padding: 5px 10px;
   border-radius: 3px;
   border: 1px solid transparent;
}

#details-order #abondon:hover{
   background-color: rgb(211, 208, 208);
   cursor: pointer;
}

#details-bank-pay p{
   
   margin-bottom: 2px;
   padding: 5px;
   padding-left: 20px;
}
#warning3{
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
   margin-top: 10px;
   padding: 10px 20px;
   width: 85%;
}
#warning4{
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
   margin-top: 10px;
   padding: 10px 20px;
   width: 85%;
}
#warning4 p{
   margin-bottom: 0px;
}

#warning5 {
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
   margin-top: 10px;
   padding: 10px 20px;
   text-align: right;
}

#warning5 p {
   margin-bottom: 0px;
}
.help-support p{
   margin-bottom: 2px;
   
}

#infor-pay-right p{
   margin-bottom: 2px;
   padding: 5px;
   padding-left: 20px;
}
#infor-pay-right p:hover{
   background-color: rgb(248, 248, 248);
}
.caption-container {
   text-align: center;
   background-color: #222;
   padding: 2px 16px;
   color: white;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

/* Six columns side by side */
.slider-img {
   float: left;
   width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
   opacity: 0.6;
}


#product:hover{
   opacity: 1;
   border: 2px solid #e13475;
   cursor: pointer;
}

#cursor-img{
   opacity: 1;
}

.box-img-cursor img{
   height: 75px;
   width: 100%;
}

.card-category{
   display: flex;
}
.owl-carousel{
   position: relative;
}
.owl-nav button{
   
   transition:all 0.5s ease;
   width:40px;
   height: 40px;
   top: 50%;
   padding:0;
   transform: translate(0,-50%);
   cursor: pointer;
   border: none;
   outline: none;
   color: transparent;
   
}

#shadow-card .card:hover {
   border-radius: 4px;  
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

#shadow-card .card{
   border: 1px solid rgb(236, 236, 236);
}



.owl-theme .owl-nav [class*=owl-] {
   margin: 5px;
   font-size: 20px !important ;
   display: inline-block;
   cursor: pointer;
   border-radius: 52%;
   color: #000! important ;
   background: white! important;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
   
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
   padding-bottom: 5px !important ;
}

.owl-nav button.owl-prev{
   left: -26px;
   position: absolute;
   display: block;
   top: 45%;
   z-index: 999;
   position: absolute;
   
   
}


.owl-nav button.owl-next{
   position: absolute;
   right: -26px;
   display: block;
   top: 45%;
   z-index: 999;
   
}
#bar-report-price{
   background: #EDE574;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(229, 243, 208), rgb(240, 239, 230));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgb(234, 248, 212), rgb(243, 241, 225)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Oa 12+, Safari 7+ */
}

.collapsible {
   background: #EDE574;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(229, 243, 208), rgb(240, 239, 230));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgb(234, 248, 212), rgb(243, 241, 225)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Oa 12+, Safari 7+ */
   
   color: #000;
   cursor: pointer;
   padding: 10px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   border: 1px solid rgb(223, 220, 220);
   border-radius: 3px;
   margin-top: 10px;
   
}

.open-bar-pay{
   background: #EDE574;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(229, 243, 208), rgb(240, 239, 230));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgb(234, 248, 212), rgb(243, 241, 225)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Oa 12+, Safari 7+ */
   color: #000;
   cursor: pointer;
   padding: 10px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   border: 1px solid rgb(223, 220, 220);
   border-radius: 3px;
   margin-top: 10px;
}
.active, .collapsible:hover {
   background-color: #555;
}

.content {
   
   
   overflow: hidden;
   color: #000;
   
   border: 1px solid rgb(223, 220, 220);
   border-radius: 3px;
}

.form-radio-first{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   display: inline-block;
   position: relative;
   background-color: #fffefe;
   color: white;
   top: 10px;
   height: 30px;
   width: 30px;
   border: 0;
   border-radius: 50px;
   cursor: pointer;     
   margin-right: 7px;
   outline: none;
   border: 1px solid #e13475;
}
.form-radio-first:checked::before{
   position: absolute;
   font: 13px/1 'Open Sans', sans-serif;
   left: 11px;
   top: 7px;
   content: '\02143';
   transform: rotate(40deg);
}

.form-radio-first:hover{
   background-color: #f7f7f7;
}

.form-radio-first:checked{
   background-color: #e13475;
}
.form-radio{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   display: inline-block;
   position: relative;
   background-color: #fffefe;
   color: white;
   top: 10px;
   height: 30px;
   width: 30px;
   border: 0;
   border-radius: 50px;
   cursor: pointer;     
   margin-right: 7px;
   outline: none;
   border: 1px solid #e13475;
}

.form-radio:checked::before
{
   position: absolute;
   font: 13px/1 'Open Sans', sans-serif;
   left: 11px;
   top: 7px;
   content: '\02143';
   transform: rotate(40deg);
}
.form-radio:hover
{
   background-color: #f7f7f7;
}
.form-radio:checked
{
   background-color: #e13475;
}
label
{
   font: 15px/1.7 'Open Sans', sans-serif;
   color: white;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   cursor: pointer;
} 
.form-popup-mobile{
   display: none;
   position: fixed;
   bottom: 298px;
   right: 28px;
   border: 3px solid #f1f1f1;
   z-index: 103;
   background: white;
   padding: 20px;
   width: 364px;
}
.btn-confirm{
   background-color: #e13475;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
   width: 34%;
   margin-right: 50px;
   margin-left: 25px;
   opacity: 0.8;
   margin-top: 8px;
}

.btn-cancel{
   background-color: red;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
   width: 34%;
   margin-right: 20px;
   margin-left: 10px;
   opacity: 0.8;
   margin-top: 8px;
}
.form-popup {
   display: none;
   position: fixed;
   bottom: 210px;
   right: 415px;
   border: 3px solid #f1f1f1;
   z-index: 99;
}
.form-container {
   width: 480px;
   padding: 10px;
   background-color: white;
}



/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
   width: 75%;
   padding: 10px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
   background-color: #e13475;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
   width: 34%;
   margin-right: 50px;
   margin-left: 28px;
  
   opacity: 0.8;
   margin-top: 8px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
   background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
   opacity: 1;
}
.paying-method{
   
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
   padding: 15px 10px;
}

#title-pay{
   background: #EDE574;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, rgb(230, 255, 192), rgb(240, 239, 230));  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, rgb(230, 252, 196), rgb(243, 241, 225));
   height: 35px;
   margin-top: 10px;
   border-radius: 3px;
   margin-left: 25px;
   width: 700px;
}

#warning{
   
   
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
   margin-top: 10px;
   
   
}

#warning p{
   
   padding-top: 15px;
   
}

.warning2{ 
   background-color: #fffeee;
   border: 1px solid #ffcd87;
   border-radius: 3px;
   
}
.warning2 p{
   padding-top: 20px;
   
}


.infor-banking{
   display: inline-flex;
}
#paying-COD p{
   margin-bottom: 2px !important;
   
}
#credit-card p{
   margin-bottom: 0px;
}

#code-discount{
   
   
   border-radius: 3px;
   
   color: rgb(184, 180, 180);
}

.room-gallery {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.room-description {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #e2d2c0;
   color: rgb(41, 41, 41);
}

#gallery-hightlight {
   width: 100%;
   height: 70%;
}

.room-preview {
   display: flex;
   width: 100%;
   
}
.room-preview img {
   flex-grow: 1;
   height: 100px;
   opacity: 0.5;
   transition: opacity 0.4s ease;
   cursor: pointer;
}

img.room-active {
   opacity: 1;
}

#text-sum-cost p{
   font-size: 15px;
   margin-top: 5px;
}
#title-pay p{
   padding: 5px 0px;
}


#active_text{
   margin-top: 5px;
   color: black;
}
#demo{
   background-color: black;
   color: white;
   border-radius: 5px;
   padding: 4px 13px;
   width: 110px;
   margin-left: 20px;
   
}
#icon_menu{
   color: #e13475;
   margin-right: 30px;
   width: 0px;
}

#text-hidden-category a{
   text-decoration: none;
   color: black;
}
#fee{
   color: #e13475;
}
#text-hidden-category a:hover{
   color: #e13475;
   
}

#text-hidden-category a h4:hover{
   color: #e13475;
   
}
.checked{
   color: #e13475;
   
}
.list-group-item.active{
   background-color: rgb(252, 252, 252);
   color: #000;
   
}

#category-title p{
   margin-bottom: 0px;
}

#v-pills-home-tab-icons:hover::after{
   
   
}
.unchecked{
   color: #000;
}
#star{
   font-size: 10px;
}

.nav{
   overflow: auto;
   white-space: nowrap;
   flex-wrap: nowrap;
   
}

.nav li li {
   
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px;
   text-decoration: none;
}

.scroll-menu {
   
   overflow: auto;
   white-space: nowrap;
   
}

.scroll-menu .card {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px;
   text-decoration: none;
   
}

.scroll-menu a:hover {
   background-color: #777;
}
.openbtn {
   font-size: 15px;
   cursor: pointer;
   background-color: #e13475;
   color: white;
   padding: 7px 18px ;
   border: none;
   border-radius: 3px;
}
/* .text-content pre ul li{
   
   
} */
.page-link:hover{
   background-color: #e13475;
   color: white;
}

.navbar .navbar-nav .nav-item .nav-link{
   color: white;
   font-size: 13px;
   
}
.cart-icon{
   display: inline-flex;
   color:white;
   margin-left: 25px;
   border: 1px solid white; 
   padding: 9px 15px;
   border-radius:5px;
   
   
}

.cart-icon a{
   color: white;
   text-decoration: none;
   font-size: 13px;
}
.openbtn:hover {
   background-color: #444;
}

#main-btn {
   transition: margin-left .5s;
   padding: 10px;
}
.post .row {
   margin: 10px -16px;
}
.img-blog img{
   height: 280px;
   
}

.title-post{
   min-height: 55px;
}

.post-paragraph{
   min-height: 65px;
}
.post .row,
.post .row > .column_img {
   padding: 8px;
}

.card-product .card-title h4{
   text-decoration: none;
}

.bg-light{
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, #ffcc33);
   
}
.post .row .column_img {
   float: left;
   
   /* Hide all elements by default */
}
#small-form-control{
   height: 34px;
}
#small-plus-btn{
   background-color:white !important;
   color: #000 !important;
   border: 1px solid rgb(238, 237, 237);
   font-size: 9px;
}
#small-plus-btn:disabled, #small-plus-btn:focus, #small-plus-btn:hover{
   background-color: #ff9500 !important;
   color: white !important;
}
.btn-default:disabled, .btn-default:focus, .btn-default:hover{
   background-color: #ff9500 !important;
}
.btn-default{
   background-color:white !important;
   color: #000 !important;
   border: 1px solid rgb(238, 237, 237);
}
.post .row .column_img .content {
   background: #fdcf51;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ffe293, #fdcf51);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffe293, #fdcf51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   clear: left;
   padding: 10px;
   margin-bottom: 10px;
}

.btn-gradient1{
   background: #fc00ff;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
   width: 130px;
}


/* Add padding BETWEEN each column */
.box-img {
   width: 450px;
    height: 420px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.box-img img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   max-width: 100%;
   max-height: 100%;
}


/* Clear floats after rows */ 


#stamp-check-cart p{
   margin-bottom: 0px;
}

#product .box-img-cursor{
   padding: 3px;
}
.box-img-cursor{
   text-align: center;
}
/* Content */
#product:after {
   content: "";
   display: table;
   clear: both;
}




/* The "show" class is added to the filtered elements */
.show {
   display: block;
}


#text-code-product{
   display: flex;
}

#text-code-product .status{
   margin-left: 80px;
}
.shiping-free{
   border-style: dashed;
   padding: 15px;
   background-color: #fffab4;
   display: flex;
   margin-right: 30px;
}
.shiping-free img{
   height: 35px;
   margin-right: 5px;
}

#v-pills-tab-with-icon{
   overflow: hidden;
}
#box-shipping h5{
   padding-bottom: 20px;
}
.active, .collapsible:hover {
   background-color: white;
}
#Step img{
   position: absolute;
   z-index: 1;
   height: 86%;
   margin-top: 5px;
   margin-left: 32px;
   
}
#Step h5{
   position: absolute;
   z-index: 5;
   padding-top: 15px;
   padding-left: 58px;
}
#Step{
   
   
   
   color: white;
   
   
}

.nav-pills.flex-column .nav-link:hover{
   background: #fe8c00 !important;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00) !important;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00) !important;
   color: white;
   
}

.nav-pills.nav-secondary #v-pills-home-tab-icons.active{
   background: #fe8c00 !important;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00) !important;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00) !important;
   border-radius: 0px !important;
   margin: 0 !important;
   
}
.nav-pills.nav-secondary #v-pills-home-tab-icons.active::after{
   content: "";
   width: 0;
   height: 0;
   position: absolute;
   z-index: 8;
   border-top: 41px solid transparent;
   border-bottom: 40px solid transparent;
   border-left: 11px solid #FD8700;
   top: 0%;
   left: 100%;
   
}

.nav-pills.nav-secondary #v-pills-profile-tab-icons.active{
   background: #fe8c00 !important;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00) !important;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00) !important;
   margin: 0px !important;
   border-radius: 0 !important;
   
}
.nav-pills.nav-secondary #v-pills-profile-tab-icons.active::after{
   content: "";
   width: 0;
   height: 0;
   position: absolute;
   z-index: 8;
   border-top: 41px solid transparent;
   border-bottom: 40px solid transparent;
   border-left: 11px solid #FD8700;
   top: 41px;
   left: 100%;
   margin-top: 47px;
   
}

.nav-pills.nav-secondary #v-pills-cod-tab-icons.active{
   background: #fe8c00 !important;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00) !important;  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00) !important;
   margin: 0px !important;
   border-radius: 0 !important;
}

.nav-pills.nav-secondary #v-pills-cod-tab-icons.active::after{
   content: "";
   width: 0;
   height: 0;
   position: absolute;
   z-index: 8;
   border-top: 41px solid transparent;
   border-bottom: 40px solid transparent;
   border-left: 11px solid #FD8700;
   top: 69px;
   left: 100%;
   margin-top: 110px;
   
}


/* #infor-detail .col{
   
   
}
#header-pay{
   
} */
#header-pay p{
   margin-bottom: 0px; 
}
#header-pay h3{
   margin-bottom: 0px; 
}
.fash-sale{
   height: 40px;
   background: #fdcf51;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ffe293, #fdcf51);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffe293, #fdcf51);
}
.fash-sale h2{
   color: brown;
   padding: 8px 20px;
}
.fixed-pay{
   overflow: hidden;
   background: white;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 1000;
}

.fixed-pay a{
   float: left;
   display: block;
   color: #000;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
.side {
   float: left;
   width: 15%;
   margin-top:10px;
}

.middle {
   margin-top:10px;
   float: left;
   width: 70%;
}

/* Place text to the right */
.right {
   text-align: right;
}

/* Clear floats after the columns */
.row:after {
   content: "";
   display: table;
   clear: both;
}

/* The bar container */
.bar-container {
   width: 100%;
   background-color: #f1f1f1;
   text-align: center;
   color: white;
   margin-right: 20px;
}

#cost{
   background-color: ghostwhite;
   padding: 10px 20px;
   padding-bottom: 10px;
   margin-right: 30px;
}
#cost .row{
   margin-left: 1px;
}
#cost p3{
   margin-left: 10px;
   border-radius: 2px;
   padding: 2px 5px;
   color: white;
   font-size: 12px;
   background: #fdcf51;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #fdcf51, #e13475);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #fdcf51, #e13475);
   margin-top: 12px;
   height: 23px;
}
#cost p{
   color: #e13475;
   margin-top: 2px;
   font-size: 25px;
   height: 20px;
}
#cost p2{
   text-decoration: line-through;
   margin-right: 10px;
   margin-top: 15px;
   font-size: 15px;
}
#row-pay{
   margin-top: 15px;
   
}


#alert_demo_1{
   background-color: #fdedc4 !important;
   color: #e13475;
   border:none;
   border-radius: 5px;
   cursor: pointer;
   border: 1px solid #e13475 !important;
   width: 190px;
   padding: 13px;
   
}

.btn-pay{
   background-color: #ff9500;
   padding: 13px 15px;
   color: #ffffff;
   border:none;
   border-radius: 5px;
   cursor: pointer;
   
   width: 190px;
   
}

.btn-size{
   background-color: white;
   padding: .4rem 1.7rem;
   border: 1px solid rgb(238, 237, 237);
   cursor: pointer;
   border-radius: 2px;
   margin-bottom: 3px;
}
.radio-toolbar input[type="radio"] {
   display: none;
}

/* .radio-cart input[type="radio"] {
   display: block;
}
*/
.radio-toolbar label {
   display: inline-block;
   background-color: #ddd;
   padding: .4rem 1.7rem;
   background-color: white;
   cursor: pointer;
   border: 1px solid rgb(238, 237, 237);
   border-radius: 2px;
   margin-bottom: 3px;
}
.radio-toolbar label:hover {
   color:#ff9500 ;
   border: 1px solid #ff9500;
}
.radio-toolbar input[type="radio"]:checked+label {
   color:#ff9500 ;
   border: 1px solid #ff9500;
}


.btn-size:focus, .btn-size:hover{
   color:#ff9500 ;
   border: 1px solid #ff9500;
}
.text-rate-star{
   display: flex;
   font-size: 50px;
   
}


.ImgZoom {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.ImgZoom-content{
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
}
#caption-ImgZoom{
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}
.center{
   width: 150px;
   margin: 40px auto;
   
}

#background-infor{
   background-color: rgb(241, 247, 255);
   
}


#caption h4 {
   color: #ccc;
}
#caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

.nav-pills.nav-secondary .nav-link.active {
   background-color: #e13475 !important;
   color: #ffffff !important;
   border: none;
}

.rating-star-1{
   padding-top: 0px;
}
.text-rate-star h1 small{
   color: #e13475;
   
}

#multiple-button{
   margin-left: 20px;
}
.cart-information #img_pink{
   z-index: 1;
   position: absolute;
   width: 92%;
   height: 38%;
   
}
#text-discount{
   color: rgb(170, 170, 170);
}

#total-cost{
   color:#ff9500 ;
}
#date p{
   margin-bottom: 0px;
}
#number-code{
   color: rgb(97, 153, 255);
}
#pink-stamp{
   position: relative;
}
.infor-cart-details{
   position: relative;
   z-index: 3;
   margin-top: 30px;
}

.button-footer{
   padding: 5px 10px;
   margin-bottom: 5px;
   border-radius: 5px;
   cursor: pointer;
   background-color: #fff;
   border: 1px solid rgb(177, 176, 176);
   margin-right: 5px;
   
}
.button-footer:hover{
   background-color: #e13475;
   color: white;
}
.btn-btn-cart{
   border-radius: 50%;
   cursor: pointer;
   background-color:white;
   border: 1px solid #e13475;
   padding: 4px 6px;
}

.btn-btn-delete{
   border-radius: 5px;
   cursor: pointer;
   background-color: #fff;
   border: 1px solid rgb(177, 176, 176);
}
.btn-btn-tags{
   padding: 5px 20px;
   margin-bottom: 5px;
   border-radius: 3px;
   cursor: pointer;
   background-color: rgb(177, 176, 176);
   color: white;
   border: 1px solid transparent;
}
.btn-btn-tags:hover{
   opacity: 0.7;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
   background: #e13475 !important;
}
#carousel_horizontal1 .owl-prev{
   top: 38%
}

#carousel_horizontal1 .owl-next{
   top: 38%
}
#carousel_horizontal .owl-prev{
   top: 32%;
   
}

#carousel_horizontal .owl-next{
   top: 32%;
}

#carousel_horizontal .owl-dots{
   display: none;
}

#carousel_post .owl-prev{
   border-radius: 0 !important;
   background: none !important;
   border: none ;
   box-shadow: none ;
   left: 93% ;
   top: -7% ;
   font-size: 27px !important;
}
#carousel_post .owl-next{
   border-radius: 0 !important;
   background: none !important;
   border: none ;
   box-shadow: none ;
   top: -7% ;
   right: -1%;
   font-size: 27px !important;
}
#title-post a {
   text-decoration: none;
   color: black;
   
}

#title-post a:hover {
   color: #f08c00;
}
.author{
   display: flex;
}

.author .by-author{
   border-left: 2px solid rgb(177, 177, 177);
   padding-left: 7px;
}
.author .cmt{
   color: #f08c00;
}

.author p{
   margin-right: 10px;
}

#check-cart{
   font-size: 13px;
}

.register-btn{
   position: absolute;
   right: 50px;
   top: 28px;
}

.btn-gradient2{
   background: #7b4397;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
   width: 130px;
}

.btn-gradient21{
   background: #1488CC;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
}

.btn-gradient3{
   background: #43cea2;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
   width: 130px;
}

.btn-gradient4{
   background: #FDFC47;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   width: 130px;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
}

.btn-gradient5{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
   width: 130px;
}

.btn-gradient20{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
   width: 120px;
   margin-left: 145px;
}
.btn-gradient15{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px ;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   color: white;
   width: 200px;
   
}
.btn-gradient15:hover{
   opacity: 0.8;
}
.btn-gradient16{
   
   padding: 10px 5px ;
   border: none;
   border: 1px solid  #fe8c00; ;
   border-radius: 30px;
   cursor: pointer;
   width: 200px;
   background-color: white;
   margin-left: 10px !important;
   
}
.btn-gradient23{
   padding: 10px 15px ;
   border: none;
   border: 1px solid  #fe8c00; ;
   border-radius: 30px;
   cursor: pointer;
   width: 200px;
   background-color: white;
   margin-left: 10px !important;
}
.btn-gradient23:hover{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00);
   color: white;
}
.btn-gradient16:hover{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00);
   color: white !important;
}

.btn-gradient19{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00);
   padding: 10px 5px ;
   border: none;
   border: 1px solid  #fe8c00; ;
   border-radius: 30px;
   cursor: pointer;
   width: 200px;
   margin-left: 10px !important;
   color: white;
   
}
.btn-gradient19:hover{
   opacity: 0.8;
}
.btn-gradient17{
   background: #fe8c00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 20px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   color: white;
   margin-left: 10px !important;
   
}
.btn-gradient18{
   
   padding: 10px 20px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   border: 1px solid #fe8c00;
   background-color: white;
}
.btn-gradient6{
   background: #00d2ff;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: white;
   width: 130px;
}

.btn-gradient22{
   background: #ffac46;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f56841, #ffa332);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ff6034, #fda437); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 20px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   color: white;
   
}
.img-zoom-container {
   position: relative;
}

.img-zoom-lens {
   position: absolute;
   border: 1px solid #d4d4d4;
   /*set the size of the lens:*/
   width: 40px;
   height: 40px;
}

.img-zoom-result {
   border: 1px solid #d4d4d4;
   /*set the size of the result div:*/
   width: 500px;
   height: 200px;
   margin-top: 20px;
}


.main-login{
   position: absolute;
   z-index: 2;
   top: 95px;
   width: 100%;
}


#navbar a {
   display: block;
   text-align: left;
   
}
#navbar-rights {
   float: none;
}

.navbar {
   background: #ff9bac!important; /* fallback for old browsers */
   z-index: 99;
   position: relative;
   
}
#navbar{
   overflow: visible !important;
}
.header{
   width: 100%;
   z-index: 10;
}
.text-footer a {
   display: flex;
   color:#f08c00;
}
.text-footer a p{
   color: #000;
   margin-bottom: 15px;
   
}

.custom-template .custom-toggle{
   background: #ffb347 !important; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ffb347, #ffcc33) !important; /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ffb347, ) !important;
   width: 113px !important;
   height: 55px !important;
   left: -107px !important;
   border-top-left-radius: 19px !important;
   border-bottom-left-radius: 19px !important;
   border-right: 1px solid transparent !important;
   font-size: 13px !important;
}
.table{
   margin-bottom: 0;
}

.table th, .table td{
   padding: 6px !important;
}
.text-footer a .fa-angle-right{
   margin-top: 5px !important;
}

.text-footer a p:hover{
   color:#f08c00;
}
.text-footer a p:hover{
   transition: all .5s ease;
   margin-left: 15px !important;
}
.text-footer a{
   text-decoration: none;
}

.mega-menu .dropdown-hover{
   float: left;
   overflow: hidden;
   display: flex;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffffff;
   width: 100%;
   margin-left: 270px;
   z-index: 3;
   border: 1px solid gainsboro;
   border-radius: 5px;
}
.dropdown-content .row .column a{
   
   color: black;
   display: block;
   padding: 12px;
   text-decoration: none;
   float: left;
   margin-left: 20px;
   clear: left;
   
}
.time-post{
   display: flex;
   color: rgb(184, 181, 181);
}
.time-post p{
   margin-bottom: 2px;
}
.time-post .date{
   margin-right: 7px;
   border-right: 1px solid gainsboro;
   padding-right: 5px;
}
/**
* EasyZoom core styles
*/
.easyzoom {
   position: relative;
   
   /* 'Shrink-wrap' the element */
   display: inline-block;
   *display: inline;
   *zoom: 1;
   z-index: 1;   
}

.easyzoom img {
   vertical-align: bottom;
   
}

.easyzoom.is-loading img {
   cursor: progress;
}

.easyzoom.is-ready img {
   cursor: crosshair;
}

.easyzoom.is-error  img {
   cursor: not-allowed;
}

.easyzoom-notice {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 150;
   width: 10em;
   margin: -1em 0 0 -5em;
   line-height: 2em;
   text-align: center;
   background: #FFF;
   box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
   position:absolute;
   z-index: 100;
   overflow: hidden;
   background: #FFF;
}

/**
* EasyZoom layout variations
*/
.easyzoom--overlay .easyzoom-flyout {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
   top: 0;
   left: 100%;
   width: 100%;
   height: 100%;
   margin-left: 20px;
}


.dropdown-hover:hover .dropdown-content {
   display: block;
}

.btn-floating{
   border: 1px solid white;
   border-radius: 20px;
   background-color: white;
   padding: 5px 10px;
   margin-top: 150px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.btn-floating:hover {
   border: 1px solid white;
   border-radius: 40px;
   background-color: white;
   padding: 15px 20px;
   margin-top: 150px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-footer-computer{
   background-color: white;
   border-top: 4px solid #e13475;
}
#copyright-company{
   height: 120px;
   background-color: #f5f5f5;
   
   width: 100%;
}

#copyright-company p{
   color: #000;
   margin-bottom: 2px;
}


